<!-- Highlight Card -->
<div class="card highlight-card card-small">
    <img src="./assets/images/dashboard_logo.png" alt="Dashboard Logo" class="dash_logo">
    <span class="heading_text">{{ title }}</span>
</div>

<!-- Resources -->
<h2>Personal Finance</h2>
<p>Broadly categorized into the following:</p>

<div class="card-container">
    <a class="card">
        <img class="home_icons_large_card" src="./assets/images/mutual_fund.png" alt="Personal Finance">

        <span class="home_card_text">Mutual Funds</span>

        <i class="fa fa-caret-up change_arrow" aria-hidden="true" style="color: green;" *ngIf="dailyMutualFundChange>0"></i>
        <i class="fa fa-caret-down change_arrow" aria-hidden="true" style="color: red;" *ngIf="dailyMutualFundChange<0"></i>
        <span class="numeric_change"
            [style.color]="dailyMutualFundChange>=0 ? 'green' : 'red'">{{dailyMutualFundChange}}</span>
    </a>


    <a class="card">
        <img class="home_icons_large_card" src="./assets/images/money_manager.png" alt="Personal Finance">

        <span class="home_card_text">Expenditures</span>

        <i class="fa fa-caret-up change_arrow" aria-hidden="true" style="color: green;" *ngIf="dailyExpenditureChange>0"></i>
        <i class="fa fa-caret-down change_arrow" aria-hidden="true" style="color: red;" *ngIf="dailyExpenditureChange<0"></i>
        <span class="numeric_change"
            [style.color]="dailyExpenditureChange>=0 ? 'green' : 'red'">{{dailyExpenditureChange}}</span>
    </a>

</div>

<!-- Resources -->
<h2>Future Predictions</h2>
<p>LTSM based predicted values:</p>

<div class="card-container">
    <a class="card">
        <img class="home_icons_large_card" src="./assets/images/mutual_fund.png" alt="Personal Finance">

        <span class="home_card_text">Mutual Funds</span>

        <!-- <i class="fa fa-caret-up" aria-hidden="true"></i>
        <span class="numeric_change">12</span> -->
    </a>

    <a class="card">
        <img class="home_icons_large_card" src="./assets/images/money_manager.png" alt="Personal Finance">

        <span class="home_card_text">Expenditures</span>

        <!-- <i class="fa fa-caret-up" aria-hidden="true"></i>
        <span class="numeric_change">12</span> -->
    </a>

</div>

<!-- Next Steps -->
<h2>Deep Dive Into Mutual Funds</h2>
<p>Which app gives you the best profit?</p>

<input type="hidden" #selection>

<div class="card-container">
    <div class="card card-small">
        <img class="home_icons_small_card" src="./assets/images/groww_logo.png" alt="Groww App">
        <i class="fa fa-caret-up change_arrow" aria-hidden="true" style="color: green;" *ngIf="growwDailyChange>0"></i>
        <i class="fa fa-caret-down change_arrow" aria-hidden="true" style="color: red;" *ngIf="growwDailyChange<0"></i>
        <span class="numeric_change_small"
            [style.color]="growwDailyChange>=0 ? 'green' : 'red'">{{growwDailyChange}}</span>
    </div>

    <div class="card card-small">
        <img class="home_icons_small_card" src="./assets/images/paytm_money_logo.png" alt="Paytm Money"
            style="width: 4vh;">
        <i class="fa fa-caret-up change_arrow" aria-hidden="true" style="color: green;" *ngIf="paytmDailyChange>0"></i>
        <i class="fa fa-caret-down change_arrow" aria-hidden="true" style="color: red;" *ngIf="paytmDailyChange<0"></i>
        <span class="numeric_change_small"
            [style.color]="paytmDailyChange>=0 ? 'green' : 'red'">{{paytmDailyChange}}</span>
    </div>
</div>