<div class="login_div">
    <form class="login">
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <button disabled>Login</button>
        <div class="login_seperator">-----------------------OR-----------------------</div>
        <button class="okta_button" (click)=verifyOkta()>
            <div class="okta_text">Login with</div>
            <img class="okta_logo" src="./assets/images/okta_logo.png" alt="Okta Logo">
        </button>
    </form>
    <div class="register_button">
        <button mat-fab color="warn" aria-label="Register" (click)=openRegisterDialog()>
            <mat-icon>perm_identity</mat-icon>
        </button>
    </div>
</div>