/* You can add global styles to this file, and also import other style files */

/* Responsive Styles */

@media screen and (max-width: 575px) {
    .card-container>*:not(.circle-link), .terminal {
        width: 100%;
    }
    .card:not(.highlight-card) {
        height: 16px;
        margin: 8px 0;
    }
    .card.highlight-card span {
        margin-left: 72px;
    }
    svg#rocket-smoke {
        right: 120px;
        transform: rotate(-5deg);
    }
    .dash_logo {
        width: 4vh;
        height: auto;
        margin-right: -5vh;
    }
    .heading_text {
        font-size: 15px;
    }
    .footer_icons {
        color: black;
        font-size: 21px;
        text-align: center;
        vertical-align: middle;
        transform: translate(0vh, 0vh);
    }
    .okta_logo {
        width: 11vh;
        height: auto;
        transform: translate(8vh, -4vh);
    }
    .login_seperator {
        text-align: center;
        margin-top: 2vh;
        margin-bottom: 1vh;
        opacity: 0.5;
        font-size: 15px;
        color: #e6e6e6;
    }
    .okta_button {
        width: 32vh !important;
        margin-left: 2vh !important;
        height: 6vh;
    }
    .okta_text {
        text-align: left;
        margin-left: 5vh;
        transform: translate(0px, 6px);
    }
    .login>button {
        font-family: "Asap", sans-serif;
        cursor: pointer;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        width: 80px;
        border: 0;
        padding: 10px 0;
        margin-top: 10px;
        margin-left: 13vh;
        border-radius: 5px;
        background-color: #1976d2;
        -webkit-transition: background-color 300ms;
        -moz-transition: background-color 300ms;
        transition: background-color 300ms;
    }
    .login {
        overflow: hidden;
        background-color: #1d3044;
        padding: 40px 30px 30px 30px;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 36vh;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
        -moz-transition: -moz-transform 300ms, box-shadow 300ms;
        transition: transform 300ms, box-shadow 300ms;
        box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
    }
    .logout_button {
        font-size: 24px;
        transform: translate(-3vh, 0vh);
        cursor: pointer;
    }
    .register_button {
        position: fixed;
        bottom: 2vh;
        right: 2vh;
    }
    .register-form-full-width {
        width: 100%;
        margin-bottom: 2vh;
    }
    .register_div {
        margin-top: 2vh;
    }
    .register_form_heading {
        font-size: 19px;
        opacity: 0.9;
        margin-bottom: 1vh;
    }
    .register_form_heading i {
        margin-right: 1vw;
    }
    .sign_up_buttons {
        float: right;
    }
    .sign_up_buttons button {
        margin-right: 1vh;
    }
    .sk-folding-cube {
        margin: 20px auto;
        width: 40px;
        height: 40px;
        position: absolute;
        transform: rotateZ(45deg);
        margin-top: 75%;
        margin-left: 45%;
    }
    .login_title {
        color: whitesmoke;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 5vh;
        text-align: center;
    }
    .home_icons_large_card {
        width: 5vh;
        height: auto;
        position: absolute;
        transform: translate(-33vw, 0vh);
    }
    .home_card_text {
        margin-right: 1vw;
        font-size: 18px;
    }
    .numeric_change {
        font-size: 18px;
        margin-left: 0.5vw;
        position: absolute;
        transform: translate(19vh, 0vw);
    }
    .change_arrow {
        position: absolute;
        transform: translate(27vw, 0.25vh);
    }
    .home_icons_small_card {
        width: 9vh;
        height: auto;
        position: absolute;
    }
    
    .numeric_change_small {
        font-size: 18px;
        margin-left: 0.5vw;
        position: absolute;
        transform: translate(19vh, 0vw);
    }
}